* {
  box-sizing: border-box;
}
body {
  background-color: #130f40;
  text-align: center;
  color: white;
  font-family: "Lato" !important;
}

.htxt {
  padding-top: 10%;
  padding-bottom: 5%;
}

.list {
  width: max-content;
  display: inline-block;
  padding-right: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  list-style: none;
  position: relative;
  padding: 3px 0 2px 25px;
}

ul li::before {
  content: "*";
  position: absolute;
  top: 6px;
  left: 0;
}

.flx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 100%;
  height: fit-content;
  position: relative;
  margin: 0 1rem;
}

.input-search {
  height: 50px;
  width: 100%;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search,
.input-search:focus {
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media (min-width: 768px) {
  .htxt {
    padding-top: 5%;
    padding-bottom: 2%;
  }
  
  .search-box {
    max-width: 600px;
    margin: 0 auto;
  }

  .input-search {
    max-width: 500px;
    width: 100%;
  }
}
